/*===== collections ===== */
.collection-list-container {
    padding:5px;
}

.collection-list-container ul {
    list-style:none;
    margin:0;
    padding:0;
}

.collection-list-container ul ul {
    margin-left: 1em;
}

.collection-list-container {
    padding-top:5px;
    clear: both;
}

#collection-edit-div {
    padding-bottom:1em;
}

#collection-list {
    list-style:none;
    margin-left:0;
    padding-left:0;
    font-weight:normal;
}

#collection-list a {
    display:block;
    text-decoration:none;
    border-bottom: 1px dotted #ccc;
    padding: 5px;
    color: #16B;
}

#collection-list span.collection {
    display:block;
    border-bottom: 1px dotted #ccc;
    padding: 5px;
    cursor:pointer;
}


#collection-list span.collection:hover,
#collection-list span.collection:active {
    background-color: rgba(51,136,204,0.2);
}


#collection-list span.current-collection {
    font-weight: bold;
    background-color: rgba(51,136,204,0.2);
}

#collection-list span.library {
    display:block;
    border-bottom: 1px dotted #ccc;
    padding: 5px;
    cursor:pointer;
}


#collection-list span.library:hover,
#collection-list span.library:active {
    background-color: rgba(51,136,204,0.2);
}


#collection-list span.current-library {
    font-weight: bold;
    background-color: rgba(51,136,204,0.2);
}

/*
#collection-list span{
    margin-top:6px;
}
*/
