/* ==== filterGuide ==== */
ul.filterguide-list {
    list-style:none;
    margin:0;
    padding:0;
}

ul.filterguide-list li {
    display:inline-block;
}

#filter-guide a {
    text-decoration:none;
    padding: 5px 7px;
    color: #16B;
    background-color: #eee;
    border-radius: 3px;
    margin:5px 5px 0 0;
    display: inline-block;
}

.filterguide-label {
    padding:10px;
}
