form#global-search-form {
	margin: 10px;
	margin-bottom:20px;
}
div.canonicalItem h2 {
	font-size:16px;
}
div.canonicalItem h3 {
	font-size:14px;
}
div.canonicalItem ul {
	list-style:none;
}
div.canonicalItem td {
	padding:5px;
}
div.canonicalItem .search-result-body {
	border-left:3px solid rgba(0,0,255,.6);
}