/* == Items Widget == */
/*
#items-pane td[data-itemkey]:not(.edit-checkbox-td) {
    cursor: pointer;
    max-width: 50%;
    word-wrap:break-word;
}
*/
#library-items-div th:not(:last-child) {
    border-right:1px dotted rgba(0,0,0,0.2);
}

#item-pagination-div {
    width: 100%;
    text-align: center;
}
/*
#library-items-div table {
    margin-left:0;
    padding-left:0;
}
*/
/*
#library-items-div tbody tr:hover {
    background-color: rgba(51,136,204,0.2);
}
*/
#library-items-div th.clickable:hover {
    background-color: rgba(102, 187, 255, 1);
}

#library-items-div div.no-results-message {
    text-align:center;
}

#library-items-div tr.highlighed {
    background-color:rgba(100, 180, 250, 0.2);
}

#library-items-div {
    overflow-y: auto;
}

#library-items-div {
    overflow-y: auto;
}

#library-items-div td {
    padding:2px;
}

#load-more-items-button {
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

.wide-items-table thead th{
    background-color: #fff;
}