/* == Item Details == */
p.item-count {
    text-align: center;
    margin-top:20px;
}

.itemDetailForm td input[type=text], .itemDetailForm textarea {
    width:80%;
    padding: 5px;
}

span.editable-item-field {
    display:inline-block;
    width:90%;
    min-height: 1em;
    cursor:pointer;
    padding:2px;
}

span.editable-item-field.creator-field {
    display:inline;
}

span.editable-creator-field {
    width:90%;
    min-height: 1em;
    cursor:pointer;
}

span.editable-item-field:hover,span.editable-creator-field:hover {
    background-color: rgba(100, 180, 250, 0.5);
    border-radius: 5px;
}

div.empty-field-placeholder {
    display:inline-block;
    width:90%;
    min-height: 15px;
    border-radius: 5px;
}

#item-tags-panel {
    padding:15px;
}

ul.item-tags-list {
    margin-top:10px;
    margin-left:-25px;
    list-style: none;
}
.editable-item-tag:hover {
    cursor:pointer;
    background-color: rgba(100, 180, 250, 0.5);
}

div.item-tags-list {
    margin-top:10px;
    margin-bottom:10px;
}

/* display table */
ul#notes-and-attachments {
    list-style:none;
}

ul#notes-and-attachments li {
    margin-top: 5px;
}


.item-info-table th {
    width: 15%;
}

#item-details-div button.zform{
    float: right;
    margin: 0 0 0 10px;
}


#notes-and-attachments .item-select-link {
    padding:0;
    display:inline;
    position:inherit;
}

