/*===== tags ===== */
#tag-filter-input {
    margin-bottom:1em;
    display:block;
}

#tags-list-div {
    padding:5px;
    overflow: auto;
}

#colored-tags-list,
#tags-list,
#selected-tags-list {
    list-style:none;
    margin:1em 0;
    padding: 0;
    font-weight:normal;
    font-size: 0.8em;
}

#colored-tags-list a,
#tags-list a,
#selected-tags-list a {
    text-decoration:none;
    padding: 5px 7px;
    color: #16B;
    background-color: #eee;
    border-radius: 3px;
    margin:5px 5px 0 0;
    display: inline-block;
}

#colored-tags-list li,
#tags-list li,
#selected-tags-list li {
    display:list-item;
    float:left;
    margin-bottom:0;
}
#tags-list a:hover,
#tags-list a:active {
    background-color: rgba(51,136,204,0.2);
}

#selected-tags-list a:link,
#selected-tags-list a:visited {
    background-color: #fff09e;
    color: #444;
}

#selected-tags-list a:hover,
#selected-tags-list a:active {
    background-color: #fff09e;
    color: #900;
}

#more-tags-links {
    clear: both;
    margin-bottom: 16px;
}

#tag-lists-container {
    overflow: auto;
    margin-bottom: 16px;
}

td.tags ul.item-details-tags-list {
    list-style:none;
    padding:0;
    margin:0;
}
td.tags ul.item-details-tags-list li {
    display:inline-block;
}
td.tags a {
    text-decoration:none;
}

td.tags ul.item-details-tags-list li:not(:last-child):after {
    content: " · ";
    color: rgba(0,0,0,0.5);
}
